<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix uni-index-render">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2><%= t('variables.uni_page.some_heading') %></h2>
    </div>
    <br class="clear">
    <div class="g12 alpha">
      <%= render :partial => 'partials/breadcrumb_uni' %>
    </div>

    <br class="clear">
    <div class="g4 alpha uni-avatar">
      <%= image_tag @uni.avatar.url, :alt => @uni.name %>
    </div>
    <div class="g8 omega html_safe uni-descr">
      <h2><%= @uni.name %></h2>
      <div class="short-descr">
        <p><%= @uni.short_descr %></p>
      </div>
      <div class="full-descr">
        <%= @uni.full_descr.html_safe unless @uni.full_descr.blank? %>
      </div> <!-- full -->

      <% if @uni.assets.present? %>
      <script type="text/javascript">
        $(document).ready(function() {
          $("a.fancybox").fancybox();
        });
      </script>
      <div class="uni-galleries">
        <h2><%= t('variables.uni_page.gellery') %></h2>
        <% @uni.assets.each do |a| %>
          <div class="galleries-item">
            <%= link_to(image_tag(a.attachment.url(:small), :style => 'margin-bottom: 10px;'), a.attachment.url(:original), :class => 'fancybox', :rel => 'gallery') %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>
</div>
<br class="clear">
