<br class="clear">
<div id="index-render-intro" class="container">
  <div class="g12 alpha about-heading">
    <h2><%= t('variables.headers.article_pages') %></h2>
  </div>
  <br class="clear">
  <div class="g6 alpha im-descr-section">
    <%= image_tag 'qoute-example.jpg', :alt => t('variables.main_page.quote_image_alt') %>
    <p><%= t('variables.main_page.quote_image_title') %></p>
  </div>
  <div class="g6 omega descr-section">
    <p><%= t('variables.main_page.quote_text') %></p>
  </div>
</div>
<br class="clear">
<div id="index-render-shadow"></div>
<div id="about-info-blocks" class="container">
  <div class="g4 in-about alpha">
    <p><%= t('variables.about_page.intro_section_first') %></p>
  </div>
  <div class="g4 in-about">
    <p><%= t('variables.about_page.intro_section_second') %></p>
  </div>
  <div class="g4 in-about omega">
    <p><%= t('variables.about_page.intro_section_third') %></p>
  </div>
</div>
<br class="clear">
<div id="index-render-shadow-rotate"></div>
<br class="clear">
<div id="about-services-section" class="container">
  <div class="g6 as-section-item alpha">
    <div class="avatar">
      <%= image_tag 'hostel_ngo_logo.png', :alt => '' %>
    </div>
    <div class="description">
      <p><%= t('variables.about_page.last_section_first') %></p>
    </div>
  </div>

  <div class="g6 as-section-item omega">
    <div class="avatar">
      <%= image_tag 'as-section-item.jpg', :alt => '' %>
    </div>
    <div class="description">
      <p><%= t('variables.about_page.last_section_second') %></p>
    </div>
  </div>
</div>
