<div id="index-render" class="container">
  <div class="g4 ip-item alpha">
    <h2><%= t('variables.main_page.first_section_heading') %></h2>
    <%= image_tag 'index-render-1.jpg', :alt => t('variables.main_page.first_section_heading') %>
    <p><%= t('variables.main_page.first_section_text') %></p>
  </div>
  <div class="g4 ip-item">
    <h2><%= t('variables.main_page.second_section_heading') %></h2>
    <%= image_tag 'index-render-2.jpg', :alt => t('variables.main_page.second_section_heading')  %>
    <p><%= t('variables.main_page.second_section_text') %></p>
  </div>
  <div class="g4 ip-item omega">
    <h2><%= t('variables.main_page.third_section_heading') %></h2>
    <%= image_tag 'index-render-3.jpg', :alt => t('variables.main_page.third_section_heading') %>
    <p><%= t('variables.main_page.third_section_text') %></p>
  </div>
  <!-- Info blocks wrappper ends here -->
</div>
<br class="clear">
<div id="index-render-shadow"></div>
<div id="index-render-intro" class="container">
  <div class="g6 alpha im-descr-section">
    <% if I18n.locale == :uk %>
      <%= image_tag 'qoute-example.jpg', :alt => t('variables.main_page.quote_image_alt') %>
    <% elsif I18n.locale == :ru %>
      <%= image_tag 'qoute-example-ru.jpg', :alt => t('variables.main_page.quote_image_alt') %>
    <% else %>
      <%= image_tag 'qoute-example.jpg', :alt => t('variables.main_page.quote_image_alt') %>
    <% end %>
    <p><%= t('variables.main_page.quote_image_title') %></p>
  </div>
  <div class="g6 omega descr-section">
    <p><%= t('variables.main_page.quote_text') %></p>
  </div>
</div>
<br class="clear">
<div id="index-render-about-wrapper" class="clearfix">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2><%= link_to t('variables.menu.articles'), article_path, :title => t('variables.menu.articles') %></h2>
    </div>
    <br class="clear">
    <% @last.each_with_index do |last_article, idx| %>
      <div class="g6 ir-about-item <%= cycle('alpha', 'omega') %>">
        <div class="avatar">
          <%= link_to(image_tag(last_article.avatar.url(:retina), :alt => last_article.name), article_show_path(last_article), :title => last_article.name) %>
        </div>
        <div class="ai-description">
          <h3><%= link_to last_article.name, article_show_path(last_article), :title => last_article.name %></h3>
          <%= content_tag(:p , last_article.short_descr, :title => last_article.short_descr) %>
        </div>
      </div><!-- Article item -->
      <% if( (idx + 1) % 2 == 0 ) %>
        <br class="clear">
      <% end %>
    <% end %>
  </div>
</div>
<br class="clear">
<div id="index-render-feedback" class="container">

  <% if @feedback.present? %>
    <div class="g12 alpha">
      <h2><%= t('variables.main_page.student_feedback') %></h2>
    </div>
    <br class="clear">
  <% @feedback.each do |item| %>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#toshow-<%= item.id %>").click(function(){
          $("#popup-feed-<%= item.id %>").toggleClass('show');
          
        });
      });
    </script>
    <style type="text/css">
      .show{
        display: block !important;
        z-index: 99999;
      }
    </style>
    <div class="g2 ir-feedback-item <%= cycle('alpha', '', '', '', '', 'omega') %>" id="toshow-<%= item.id %>">
      <%= image_tag item.avatar.url(:show), :alt => item.feedback %>
      <h3 class="name"><%= item.name %></h3>
      <p class="ae"><i><%= item.age %>р.</i></p>
      <div class="popup-description" id='popup-feed-<%= item.id %>'>
        <p><%= item.feedback %></p>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
