<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2>Усіляки наші і не тільки анонси та плітки!</h2>
    </div>
    <br class="clear">
    <div class="g6 ir-about-item alpha">
      <div class="avatar">
        <%= link_to(image_tag('article-1.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item omega">
      <div class="avatar">
        <%= link_to(image_tag('article-2.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item alpha">
      <div class="avatar">
        <%= link_to(image_tag('article-3.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item omega">
      <div class="avatar">
        <%= link_to(image_tag('article-4.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item alpha">
      <div class="avatar">
        <%= link_to(image_tag('article-1.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item omega">
      <div class="avatar">
        <%= link_to(image_tag('article-2.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item alpha">
      <div class="avatar">
        <%= link_to(image_tag('article-3.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
    <div class="g6 ir-about-item omega">
      <div class="avatar">
        <%= link_to(image_tag('article-4.jpg', :alt => ''), '', :title => '') %>
      </div>
      <div class="ai-description">
        <h3><%= link_to 'Студенти Кіпру протестують: майбутнє всього населення держави під загрозою', '', :title => '' %></h3>
        <p>Сотні молодих людей вийшли на вулиці Нікосії, обурені діями уряду в умовах економічної кризи. Вже другий тиждень поспіль банки острівної держави зачинені.</p>
      </div>
    </div><!-- Article item -->
  </div>
</div>
<br class="clear">
