<br class="clear">
<div id="contact-render" class="container">
  <div class="g12 alpha contact-heading tc">
    <h2>Нам можна зателефонувати!</h2>
    <p class="telephone tc margin"><%= link_to '+38 (098) 22 66 111', 'tel:+ +38 (098) 22 66 111', :title => '+38 (098) 22 66 111' %></p>
    <br class="clear">
    <p class="tc  pink">або написати ел. листа</p>
    <p class="tc margin mail-link"><%= mail_to 'i@education-abroad.com.ua' %></p>
    <br class="clear">
    <br>
    <p class="tc mail pink">Або скористатись формою</p>
  </div>
  <br class="clear">
  <div id="form-wrapper-contact">
    <%= form_for @contact, :url => contact_path do |form| %>
      <div class="g4 left-side alpha">
        <div class="row-input">
          <%= form.text_field :name, :placeholder => '' %>
          <%= form.label 'прізвище, імя ' %>
        </div>
        <div class="row-input">
          <%= form.text_field :email, :placeholder => '' %>
          <%= form.label 'eл. пошта' %>
        </div>
        <div class="row-input">
          <%= form.text_field :telephone, :placeholder => '' %>
          <%= form.label 'номер телефону *' %>
        </div>
      </div>
      <div class="g8 right-side omega">
        <div class="row-input">
          <%= form.text_area :body, :placeholder => '' %>
          <%= form.label 'текст повідомлення *' %>
        </div>
        <%= form.submit 'Надіслати', :class => 'submit-button' %>
      </div>


    <% end %>
  </div>
</div>
