<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= yield :meta_keywords %>" />
  <meta name="description" content="<%= yield :meta_description %>" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_page?(about_path) %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.block-description').hide();
      window.setTimeout(DisplayMenu, 50);
      $('#main-header').css({
        'background': 'url("/assets/about-us-h-bg.jpg") repeat-x 50% 50% transparent',
        'height': 255,
        '-webkit-background-size': 'cover',
        '-moz-background-size': 'cover',
        '-o-background-size': 'cover',
        'background-size': 'cover'
      });
      $('.visited').css({
        'cursor': 'auto'
      });
    });
  </script>
<% elsif current_page?(article_path) || controller_name == 'articles' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.block-description').hide();
      window.setTimeout(DisplayMenu, 50);
      $('#main-header').css({
        'background': 'url("/assets/article-us-h-bg.jpg") repeat-x 50% 50% transparent',
        'height': 255,
        '-webkit-background-size': 'cover',
        '-moz-background-size': 'cover',
        '-o-background-size': 'cover',
        'background-size': 'cover'
      });
      $('.visited').css({
        'cursor': 'auto'
      });
    });
  </script>
<% elsif current_page?(university_path) || controller_name == 'university' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.block-description').hide();
      window.setTimeout(DisplayMenu, 50);
      $('#main-header').css({
        'background': 'url("/assets/uni-us-h-bg.jpg") repeat-x 50% 50% transparent',
        'height': 255,
        '-webkit-background-size': 'cover',
        '-moz-background-size': 'cover',
        '-o-background-size': 'cover',
        'background-size': 'cover'
      });
      $('.visited').css({
        'cursor': 'auto'
      });
    });
  </script>
<% elsif current_page?(student_path) || controller_name == 'student' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.block-description').hide();
      window.setTimeout(DisplayMenu, 50);
      $('#main-header').css({
        'background': 'url("/assets/about-us-h-bg.jpg") repeat-x 50% 50% transparent',
        'height': 255,
        '-webkit-background-size': 'cover',
        '-moz-background-size': 'cover',
        '-o-background-size': 'cover',
        'background-size': 'cover'
      });
      $('.visited').css({
        'cursor': 'auto'
      });
    });
  </script>
<% elsif current_page?(contact_path) %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.block-description').hide();
      window.setTimeout(DisplayMenu, 50);
      $('#main-header').css({
        'background': 'url("/assets/contact-us-h-bg.jpg") repeat-x 50% 50% transparent',
        'height': 255,
        '-webkit-background-size': 'cover',
        '-moz-background-size': 'cover',
        '-o-background-size': 'cover',
        'background-size': 'cover'
      });
      $('.visited').css({
        'cursor': 'auto'
      });
    });
  </script>
<% elsif current_page?(root_path) %>
  <script type="text/javascript">
    $(document).ready(function() {
      window.setTimeout(PrepareBannerSection, 2000);
      window.setTimeout(DisplayMenu, 2700);
      window.setTimeout(DisplayDescr, 3200);
      window.setTimeout(DisplayDescrBlock, 3300);
    });

  </script>
<% end %>
<!-- Header and navigation links -->
<div id="main-header" class="clearfix">
  <div class="container">
    <div id="info-block">
      <%= mail_to('support@voroninstudio.eu', 'info') %>
      <%= link_to('+38 (050) 417-07-28', 'tel:+38 (050) 417-07-28', :title => '+38 (050) 417-07-28') %>
    </div>
    <div class="navigation-wrapper">
      <div class="g3 alpha" id="logotype">
        <%= link_to_unless current_page?(root_path), image_tag('logo.png', :alt => 'ТзОВ «Перспектива»', :style => 'margin-left: 5%;'), root_path %>
      </div>
      <div class="g-custom-mobile-menu">
      </div>
      <div class="g9 navigation-block omega">
        <nav>
          <ul>
            <li <% if current_page?(about_path) %> class="visited" <% end %>><%= link_to_unless current_page?(about_path), 'Про нас', about_path, :title => 'Про нас' %></li>
            <li <% if current_page?(article_path) || controller_name == 'articles' %> class="visited" <% end %>><%= link_to_unless current_page?(article_path) || controller_name == 'articles', 'Публікації', article_path, :title => 'Публікації' %></li>
            <li <% if current_page?(university_path) || controller_name == 'university' %> class="visited" <% end %>><%= link_to 'Університети', university_path, :title => 'Університети' %></li>
            <li <% if current_page?(student_path) || controller_name == 'student' %> class="visited" <% end %>><%= link_to 'Студентам', student_path, :title => 'Студентам' %></li>
            <li <% if current_page?(contact_path) %> class="visited" <% end %>><%= link_to 'Контакти', contact_path, :title => 'Контакти' %></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="block-description">
      <div class="bd-wrapper">
        <p class="h1 bd-head">Ваша готельна освіта у Mesoyios college</p>
        <p class="bd-body"><i>м. Пафос, Кіпр</i></p>
        <p class="bd-body">Європейська освіта, старт вашої кар'єри, гарантоване працевлаштування</p>
        <p><%= link_to 'ПРИЄДНУЙСЯ!', about_path, :title => '', :class => 'bd-button' %></p>
      </div>

    </div>
  </div>
</div>
<!-- /Header and navigation links -->
<div id="main-render" class="clearfix">
  <%= yield %>
</div>
<!-- Footer section -->
<div id="main-footer" class="clearfix">
  <div class="container">
    <div class="g4 mf-item-block alpha">
      <p class="copy">© 2012 &mdash; 2013 Education Abroad</p>
      <div class="copy-studio"><p class="image-copy"><%= image_tag 'studio-logotype.png', :alt => 'дизайн студією Миколи Вороніна' %></p> <p class="image-text">Зроблено <%= link_to 'дизайн студією Миколи Вороніна', 'http://voroninstudio.eu', :title => 'дизайн студією Миколи Вороніна', :target => '_blank' %>  <br> в 2013р. <%= link_to 'Інформація про сайт', 'http://voroninstudio.eu', :title => 'Інформація про сайт', :target => '_blank' %></p></div>
    </div>

    <div class="g4 mf-item-block">
      <%= link_to image_tag('social-links-f.png', :alt => 'Facebook'), facebook_path, :title => 'Facebook', :class => 'social-link' %>
      <%= link_to image_tag('social-links-t.png', :alt => 'Twitter'), twitter_path, :title => 'Twitter', :class => 'social-link' %>
      <%= link_to image_tag('social-links-f.png', :alt => 'Google'), google_path, :title => 'Google', :class => 'social-link' %>
      <%= link_to image_tag('social-links-t.png', :alt => 'Thumblr'), tumblr_path, :title => 'Thumblr', :class => 'social-link' %>
    </div>

    <div class="g4 mf-item-block omega">
      <p class="tel">тел.: <span>+38 (032) 244 00 00</span> </p>
      <p class="fax">факс: <span>+38 (032) 244 00 15</span></p>
      <p class="more-info"> <%= link_to 'Більш детальна контактна інформація', contact_path, :title => 'Більш детальна контактна інформація' %></p>
    </div>
  </div>
</div>
<!-- /Footer section -->
</body>
</html>
